@import 'tailwindcss';
/* Force rebuild */

@theme inline {
  --font-sans: var(--font-sans);

  /* COLOR */
  --color-primary-dark: #1e0a52;
  --color-primary-light: #210c58;
  --color-secondary: #786c97;
  --color-accent: #fcc33f;
  --color-background: #f2f0f7;

  /* TYPOGRAPHY */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */
  --text-5xl: 4rem; /* 64px */
  --text-6xl: 4.5rem; /* 72px */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-primary-dark);
  overflow-x: hidden;
  max-width: 100vw;
}

@utility gradient-vertical {
  background: linear-gradient(180deg, #210c57 0%, #442099 100%);
}

@utility gradient-horizontal {
  background: linear-gradient(104.39deg, #000000 1.3%, #442099 77.48%);
}

@utility text-gradient {
  background: linear-gradient(104.39deg, #000000 1.3%, #442099 77.48%);
  background-clip: text;
  color: transparent;

  /* Browser Specific */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 0.1em;
}

/* .cloud-tooltip {
  border-radius: 40px 40px 45px 45px / 30px 30px 35px 35px;
} */

.cloud-tooltip {
  border-radius: 50px;
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.25));
}
